.h-full-header{
    min-height: calc(100vh - 64px) !important;
}
section{
    @extend .h-full-header;
    display: flow-root;
}

#rocket-container{
    position: relative;
    margin: auto;
    z-index: 1;
}
#phrase {
    margin-bottom: 10px;
    transition: all 1s ease-in-out;
    opacity: 1;
}
#phrase:hover {
    cursor: pointer;
}
#rocket {
    width: 20%;
    margin: auto;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: relative;
    top: 0;
    opacity: 1;
}
#rocket.clicked {
    transition: all 3s ease-in-out;
  }
#rocket:hover {
    bottom: -20px;
    width: 25%;
    cursor: pointer;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 3s ease-in-out;
}
