<!-- <div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Logo image">
            <h1>Landing Module</h1>
            <p>
                This can be the landing or the welcome page of your application. If you have an SSR (Server Side Rendering) setup, or if you don't need to have Search engine
                visibility and optimizations, you can even use this page as your primary landing page.
            </p>
            <p>
                This is a separate "module", it has its own directory and routing setup and also it's completely separated from the actual application. This is also a simple example of
                a multiple applications setup that uses the same codebase. You can have different entry points and essentially have different applications within the same codebase.
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/dashboards/project'">
                <span>Launch the App</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
<br/>-->
<div style="height: calc(100vh - 64px); width: 100%; background-color: #e9ad70;">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0 h-full">
        <div class="flex flex-col flex-auto items-center justify-center">
            <h1 class="mat-display-4">My Portfolio</h1>
            <p>Tell your story</p>
        </div>
        <div class="flex flex-col flex-auto landing-image">
            <div id="landing-image"></div>
        </div>
    </div>
    <div style="width: 100%; position: absolute; bottom: 0;">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fdc476" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,181.3C384,160,480,96,576,85.3C672,75,768,117,864,154.7C960,192,1056,224,1152,197.3C1248,171,1344,85,1392,42.7L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </div>
</div>



<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<!--<header class="header">
    <h1>Logo</h1>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </nav>
</header>

<div class="hero">
    <h1>Welcome to Our Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#">Learn More</a>
</div>

<div class="section">
    <h2>Our Projects</h2>
    <div class="card">
        <img src="project1.jpg" alt="project 1">
        <h3>Project 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt justo velit, eu viverra massa convallis at.</p>
        <a href="#">Learn More</a>
    </div>
    <div class="card">
        <img src="project2.jpg" alt="project 2">
        <h3>Project 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt justo velit, eu viverra massa convallis at.</p>
        <a href="#">Learn More</a>
    </div>
    <div class="card">
        <img src="project3.jpg" alt="project 3">
        <h3>Project 3</h3>
        <p>Lorem ipsum dolor sit</p>
        <a href="#">Learn More</a>
    </div>
  </div>

  <footer class="footer">
    <div class="left">
      <img src="logo.png" alt="logo">
      <h4>Company Name</h4>
    </div>
    <div class="right">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </div>
  </footer>-->

